# Системные файлы
.DS_Store

# Кеш и настройки IDE
.idea/
.vscode/
*.swp

# Папки сборок и виртуальные окружения (для Python и C++)
bin/
build/
__pycache__/
venv/

# Временные файлы и логи
*.log
# *.csv
# *.json
